.workspace-item {
  border: 2px red solid;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;

  &--header {
    background: grey;
    height: 30px;
    display: flex;
    flex-direction: row;

    &-draggable-container {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
    }

    &-draggable-item {

      display: flex;
      box-sizing: border-box;
      border: 1px black solid;

    }
  }

  &--destroy {
    cursor: pointer;
    width: 30px;
    margin-left: auto;
  }

  &--content {
    background: blue;
    flex: 1;
    flex-flow: row wrap;
  }
}
