.workspace-item {
  border: 2px red solid;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;

  &--header {
    background: grey;
    height: 30px;
    display: flex;

    &-draggable-container {
      display: flex;
    }

    &-draggable-item {

      display: flex;
      box-sizing: border-box;
      border: 1px black solid;

        &-destroy {
          cursor: pointer;
        }
    }
  }

  &--content {
    background: blue;
    flex: 1;
    flex-flow: row wrap;
  }
}
