<div
  class="workspace-item"
  [ngStyle]="style"
  [style.zIndex]="order"
  [style.transform]="transform"
  [style.minHeight.px]="minHeight"
  [style.minWidth.px]="minWidth"
  mwlResizable
  (mousedown)="setPanelActive()"
  [validateResize]="validate"
  [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  (resizeStart)="onResizeStart($event)"
  >
  <div
    class="workspace-item--header"
    draggable
    (dragStartEvent)="onDragStart($event)"
    (dragEvent)="onDrag($event)"
    (dragEndEvent)="onDragEnd($event)"
    >
    <div
      class="workspace-item--header-draggable-container"
      dnd-sortable-container [sortableData]="components"
      [dropZones]="['panel-zone', 'container-zone']"
    >
      <div
        class="workspace-item--header-draggable-item"
        *ngFor="let component of components; let i = index"
        [ngClass]="{ 'active': component.id === activeComponentId }"
        (click)="showComponent(component.id)"
        dnd-sortable
        [sortableIndex]="i"
        [dragData]= "{component: component, panelId: panelId, panelStyle: relativeStyle }"
        [attr.data-component-id]="component.id"
        [attr.data-panel-id]="panelId"
        >
        {{ component.header }}
        <div class="workspace-item--header-draggable-item--destroy" (click)="destroyComponent(component.id, component.type)">
          x
        </div>
      </div>
    </div>
    <div class="workspace-item--destroy" (click)="destroyPanel()">
      x
    </div>
  </div>
  <div class="workspace-item--content">
    <div class="workspace-item--content-component" #dynamicComponentContainer></div>
  </div>
</div>
