<div
  class="workspace-item"
  [ngStyle]="style"
  [style.zIndex]="order"
  mwlResizable
  (mousedown)="setPanelActive()"
  [validateResize]="validate"
  [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
  [enableGhostResize]="true"
  (resizeEnd)="onResizeEnd($event)"
  >
  <div
    class="workspace-item--header"
    draggable
    (dragStartEvent)="onDragStart($event)"
    (dragEvent)="onDrag($event)"
    (dragEndEvent)="onDragEnd($event)"
    >
    Workspace item
  </div>
  <div class="workspace-item--content">
    <div class="workspace-item--content-component"></div>
  </div>
</div>
