.resize-handle {
  position: absolute;
  background: black;

  &.n {
    height: 5px;
    top: 0;
    width: 100%;

    &:hover {
      cursor: n-resize;
    }
  }

  &.s {
    height: 5px;
    bottom: 0;
    width: 100%;

    &:hover {
      cursor: s-resize;
    }
  }

  &.e {
    height: 100%;
    width: 5px;
    right: 0;

    &:hover {
      cursor: e-resize;
    }
  }

  &.w {
    height: 100%;
    width: 5px;
    left: 0;

    &:hover {
      cursor: w-resize;
    }
  }

  &.nw {
    height: 5px;
    width: 5px;

    &:hover {
      cursor: se-resize;
    }
  }

  &.ne {
    height: 5px;
    width: 5px;
    right: 0;

    &:hover {
      cursor: sw-resize;
    }
  }

  &.se {
    height: 5px;
    width: 5px;
    bottom: 0;
    right: 0;

    &:hover {
      cursor: nw-resize;
    }
  }

  &.sw {
    height: 5px;
    width: 5px;
    bottom: 0;

    &:hover {
      cursor: ne-resize;
    }
  }
}


.workspace-item {
  border: 1px #f5f5f5 solid;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #f5f5f5;
  font-family: Arial;

  &--header {
    height: 30px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #eeeeee;
    align-items: center;

    &-draggable-container {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
    }

    &-draggable-item {

      display: flex;
      box-sizing: border-box;
      color: #065ed0;

      &.active {
        color: #1a1a1a;
        border-bottom: 1px black solid;
      }

      &--destroy {
        color: black;
        margin: 0 10px 0 5px;
      }
    }
  }

  &--destroy {
    cursor: pointer;
    width: 10px;
    margin-right: 10px;
    margin-left: auto;
    color: black;
  }

  &--content {
    flex: 1;
    flex-flow: row wrap;
  }
}
