<component-selector
  *ngIf="componentSelectorActive"
  (componentAdded)="addComponentToWorkspace($event)"
>
</component-selector>
<workspace-panel
  *ngFor="let config of workspacePanels; let i = index"
  [ngClass]="{ 'active': i === workspacePanels.length - 1}"
  [workspaceDimensions]="dimensions"
  [mouseMoveObs]="mouseMoveObs"
  [mouseUpObs]="mouseUpObs"
  [initalConfig]="config"
  (panelActive)="updateActivePanel($event)"
  (panelChanged)="onWorkspacePanelChanged($event)"
  (panelDestroyed)="removeWorkspacePanel($event)"
  (componentDraggedOutsidePanel)="onPanelDraggedOntoWorkspace($event)"
>
</workspace-panel>
