<component-selector
  *ngIf="componentSelectorActive"
  (componentAdded)="addComponentToWorkspace($event)"
>
</component-selector>
<div
  class="workspace"
  dnd-droppable
  [dropEnabled]="true"
  (onDropSuccess)=handleComponentDropped($event)
  [dropZones]="['container-zone']"
>
  <workspace-panel
  *ngFor="let config of workspacePanels"
  [workspaceDimensions]="dimensions"
  [initalConfig]="config"
  [order]="workspaceZIndexMap[config.id]"
  (panelActive)="updateActivePanel($event)"
  (panelChanged)="onWorkspacePanelChanged($event)"
  (panelDestroyed)="removeWorkspacePanel($event)"
  (componentDroppedOutsidePanel)="handleComponentDroppedOntoAnotherPanel($event)"
  >
</workspace-panel>
</div>
